ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
	background-color:white;
}
li a {
    display: block;
    color: black;
	background-color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #aa91b2;
	color: #000000;
	text-decoration: none;
}
 a {
	text-decoration: none;
 }
 a img:hover {
	 opacity: 0.5;
 }
.page-description {
	border: 2px solid #000;
	padding: 30px;
	text-align: center;
	width: 700px;
	font-size: 24px;
	font-family:san-serif;
}
.row h1 {
	text-align: center;
	font-size: 70px;
	font-family: Times;
}
.jumbotron h2{
	font-size: 50px;
	text-align: center;
	color: white;
	font-family: Verdana;
}

table, th {
	text-align: center;
}
th {
	text-decoration: none;
}
body{
	background-image: url("image/websitebackground.jpg");
	font-family: Times;
	font-size: 15px;
}
 a {
	 text-decoration: none;
 }
img {
	height: 200px;
	width: 300px;
	padding: 20px;
}
p {
	padding: 30px;
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
	color: black;
	background-color: white;
}
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("image/bear.jpg");
  background-size:cover;
  height: 600px;
}
thead {
	font-family: Times;
	font-size: 30px;
}
.page-description {
	border: 2px solid #000;
	padding: 30px;
	text-align: center;
	width: 1100px;
	font-size: 20px;
	font-family: Arial;
	background-color:white;
}